/* Center the app container */
#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #exercise-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    gap: 10px;
  }

  #duration-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  #repetition-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  h1 {
    margin-bottom: 0px;
  }
  
  /* Remove default margin */
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  